<div class="container">
    <nav class="side-nav">
        <ul class="nav-menu">
            <a [routerLink] ="['/personal-details']" routerLinkActive ="active-link">
                <li class="nav-item"><i class="fas fa-tachometer-alt"></i><span class="menu-text">Personal Details</span></li>
            </a>
            <a routerLink="/address-details" routerLinkActive="active-link">
                <li class="nav-item"><i class="fas fa-user"></i><span class="menu-text">Address Details</span></li>
            </a>
            <a routerLink="/review-data" routerLinkActive="active-link">
                <li class="nav-item"><i class="fas fa-file-alt"></i><span class="menu-text">Review Details</span></li>
            </a>
        </ul>
    </nav>
</div>      