<div class="container-fluid bg-color">
    <h1 class="heading">Welcome To The Dashboard !!!</h1>

    <div class="personal-div text-center ps-1">
        <input type="checkbox" class="" id="test1" [checked]='isChecked' [disabled]="true" />
        <label class="ps-2">Personal Details</label>
    </div>
    <div class="address-div text-center">
        <input type="checkbox" id="test2" [checked]='isCheckedAd'  [disabled]="true" />
        <label class="ps-2">Address Details</label>
    </div>
</div>